
a{
    text-decoration: none;
}
nav{
    background-color:rgba(0, 0, 0, 0.493);
    font-family: 'Anton', sans-serif;
}

.secnav{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.secnav img{   
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header{
    border-bottom: 1px solid #5f5f5f;
}

header .cont{
    margin-top: 10%;
    display: flex;
    margin-bottom: 3%;
    align-items: center;
}

.cont .side{
    display: flex;
    flex-direction: column;
}

.cont .prof-info{
    display: flex;
    width: 90%;
    align-items: center;

}

.cont .prof-info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cont .prof-info h2{
    padding-left: 5%;
    font-size: 35px;
}

.cont .edit a h3{
    text-align: center;
    color: #5f5f5f;
    font-size: 17px;
    border: 2px solid #5f5f5f;
    border-radius: 25px;
    padding: 5%;
    width: fit-content;
    transition: .3s ease;
}

.cont .edit a h3:hover{
    transform: scale(1.09);
}

section{
    padding-bottom: 2%;
}

.prog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.prog .item{
    transition: .3s ease;
}

.prog .item img{
    top: 0px;
    left: 0px;
    width: 295px;
    height: 393px;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
    padding: 2%;
}

.prog .item:hover{
    transform: scale(1.05);
}

.section .cont h2{
    padding-top: 5%;
    padding-bottom: 2%;
    color: #424141;
    font-size: 25px;
}


footer{
    background-color:#1d1d1d;
    color: #f0f8ff;
    font-size: 20px;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-top: 5%;
}

footer a {
    color:#0fa8e488;
    text-decoration: none;
}

footer .col h4{
    font-size: 15px;
}

footer .col h3{
    font-size: 16px;
    color: #0fa8e488;
    font-weight: 600;
}

footer .col p{
    font-size: 18px;
    color: #0fa8e488;
    transition: .3s ease;
}

footer .col p:hover{
    transform: scale(1.05);
    text-decoration-line: underline;
}