

nav{
    background-color:rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}

.secnav{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.secnav img{   
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


header {
    background-image: url(../img/southwestern-stuffed-sweet-potatoes-1664306627961-feature.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
}

header h2{
    transform: translateY(395%);
    color: white;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

.info{
    display: flex; 
    transform: translateY(375%)
}

.info .info-cont{
    margin-right: 2%;
}

.info .info-cont h3{
    font-size: 15px;
    color: #999393;
    width: fit-content;
    border: 3px solid #999393;
    border-radius: 50%;
    padding: 13%;
    text-align: center;
    font-weight: 900;

}

.info  .info-cont p{
    font-size: 13px;
    color: #999393;
    font-weight: 900;
}

section .cont{
    display: flex;
    padding-top: 5%;
}

.cont .ing-cont{
    width: 40%;
    text-align: center;
    border-right: 2px solid #242323 ;
}

.cont .ing-cont h3{
    font-size: 40px;
    padding-bottom: 15px;
    color: #242323;
}

.cont .ing-cont .ing h4{
    color: rgb(48, 48, 51);
    padding-bottom: 3px;
    font-size: 25px;
}

.cont .step-cont{
    width: 60%;
    text-align: center;
    padding-right: 4%;
}

.cont .step{
    display: flex;
    padding-bottom: 3%;
    padding-left: 3%;
}

.cont .step  samp{
    font-size: 15px;
    color: #999393;
    width: fit-content;
    border: 3px solid #999393;
    border-radius: 50%;
    padding: 1%;
    margin-right: 2%;
    text-align: center;
    font-weight: 900;
}

.cont .step p{
    font-size: 20px;
    padding-left: 2%;
    text-align: left;
}
section .img-cont{
    display: flex;
}

section .img-cont img{
    width: 295px;
    height: 393px;
    border-radius: 40px;
    padding: 2%;
}

footer{
    background-color:#1d1d1d;
    color: #f0f8ff;
    font-size: 20px;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-top: 5%;
}

footer a {
    color:#0fa8e488;
    text-decoration: none;
}

footer .col h4{
    font-size: 15px;
}

footer .col h3{
    font-size: 16px;
    color: #0fa8e488;
    font-weight: 600;
}

footer .col p{
    font-size: 18px;
    color: #0fa8e488;
    transition: .3s ease;
}

footer .col p:hover{
    transform: scale(1.05);
    text-decoration-line: underline;
}