
body{
    background-color: rgb(247, 247, 247);
}
/*
.container{
    width: 95%;
}
*/

nav{
    background-color:rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}

.secnav{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.secnav img{   
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.recipes{
    margin-top: 5%;
}
.contain{
    display: flex;
    margin-top: 8%;
}

.latest-rec{
    border-radius: 3%;
    width: 73%;
}

.latest-rec h2{
    padding-bottom: 2%;
    color: #424141;
    font-size: 25px;
}
.latest-rec .cont{
    display: flex;
    background-color:white;
    padding: 4%;
    border: 1px solid beige;
    border-radius: 15px;
}

.latest-rec .cont img{
    width: 324px;
    min-height: 230px;
    border-radius: 10px;
    transition: .3s ease;
}

.latest-rec .cont img:hover{
    
    transform: scale(1.09);
}

.latest-rec .cont h3{
    color: #424141;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

.latest-rec .cont p{
    font-size: 18px;
    line-height: 30px;
    color: rgb(48, 48, 51);
    width: 85%;
    margin-bottom: 16%;
}

.rec-cont{
    margin-left: 5%;
    margin-top: 3%;
}

.rec-cont .button{
    border: 1px solid #424141;
    background-color: white;
    font-size: 18px;
    color: rgb(168,167,167);
    padding: 2%;
    border-radius: 25px;
    transition: .3s ease;
}

.rec-cont .button:hover{
    transform: scale(1.05);
    border: 1.5px solid #272727;

}


.filter-rec{
    margin-left: 5%;
}

.filter-rec h2{
    padding-bottom: 2%;
    color: #424141;
    font-size: 25px;
}

.category{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 6%;
    width: 130%;
    transition: .3s ease;
}


.category img{
    width: 88px;
    height: 88px;
    border-radius:10px;
}

.img-cont{
    margin-left: 5%;
}

.category h2{
    font-size: 21px;
    color: #424141;
    margin-top: 19%;
}

.category:hover{
    transform: scale(1.09);
}

/**/

.pic{
    display: flex;
}

.pic .item{
    transition: .3s ease;
}

.pic .item img{
    top: 0px;
    left: 0px;
    width: 295px;
    height: 393px;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
    padding: 2%;
}

.pic .item:hover{
    transform: scale(1.05);
}

.section .cont h2{
    padding-top: 5%;
    padding-bottom: 2%;
    color: #424141;
    font-size: 25px;
}

.pic .item p{
    font-weight: 400;
    font-size: 18px;
    color:#424141;
    padding-left: 2%;
}

.see-more{
    text-align: right;
    padding-bottom: 5%;
}
.see-more button{
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    color: #414141;
    transition: .3s ease;
}

.see-more button:hover{
    transform: scale(1.05);
    border: 1.5px solid #272727;
}

footer{
    background-color:#1d1d1d;
    color: #f0f8ff;
    font-size: 20px;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-top: 5%;
}

footer a {
    color:#0fa8e488;
    text-decoration: none;
}

footer .col h4{
    font-size: 15px;
}

footer .col h3{
    font-size: 16px;
    color: #0fa8e488;
    font-weight: 600;
}

footer .col p{
    font-size: 18px;
    color: #0fa8e488;
    transition: .3s ease;
}

footer .col p:hover{
    transform: scale(1.05);
    text-decoration-line: underline;
}